:root{
  --page-background: silver;
  --forestGreen: darkolivegreen;
  --mainColor: silver;
  --redBox: 1px solid red;
  --blueBox: 1px solid blue;
  --greenBox: 1px solid green;
  --whiteBox:  1px solid white;
  --greyBox:  1px solid lightgrey;
  --cardWidth: 27%;
  --cardBorder: 2px dotted white;
  --forestText: 'Solway', sans-serif;
  --bodyText: 16px 'Lato', sans-serif;
  --headerTextPad: 0 6vw;
  --headerImgPad: 5.75vw;
  --headerLineHeight: 50px;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  /* border: 1px  solid rgba(209, 209, 209, 0.5); */
  /* position: absolute;
  bottom: 17px;
  display: inline-block; */
  /* margin-top: 35px; */
  padding: var(--headerTextPad);
  /* background-color: red; */
  background: linear-gradient(to right, rgb(96, 121, 53),  var(--forestGreen ));
  /* border-radius: 0 0 10px 0; */
  font-family: var(--forestText);
  color: white;
  opacity: 0.9;
  line-height: var(--headerLineHeight);
}

h2 {
  float: left;
  width: 15%;
  height: 100%;
  border-right: 2px solid var(--forestGreen);
  text-align: right;
  padding-right: 20px;
  color: var(--forestGreen);
  /* position: absolute;
  top: 0;
  bottom: 0; */
}

p {
  margin: 0 0 5px;
  /* text-indent: 3ch; */
}

a {
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

a:hover {
  color: darkorange;
}

{
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  padding: 2% 5%;
  font: var(--bodyText);
  font-size: 16px;
  color: darkgrey;
  line-height: 1.5;
}

/* HEADER */

header {
  position: relative;
  /* border: var(--blueBox); */
  color: lightgray;
  background-color: var(--forestGreen);
  height: 100px;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

nav {
  /* text-align: right; */
  /* float: right; */
  /* position: absolute;
  right: 0;
  bottom: 20px; */
}

nav ul {
  /* text-align: right; */
  /* border: var(--redBox); */
  /* display: inline-block; */
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(to left, rgb(96, 121, 53),  var(--forestGreen ));
  padding: var(--headerTextPad);
  line-height: var(--headerLineHeight);
}

nav ul li {
  display: inline-block;
  font-size: 25px;
}


/* HEAD BANNER */
.headBanner {
  /* border: var(--greenBox); */
  position: relative;
  margin-bottom: 10px;
}

.headBanner img {
  position: absolute;
  left: var(--headerImgPad);
  top: 20px;
  z-index: 5;
}

.headBanner div {
  position: relative;
  background-image: url("../images/20220928_john-walton_white-cove_008.jpg");
  background-repeat: no-repeat;
  background-color: lightgray;
  opacity: 0.6;
  height: 240px;
}

.headBanner div h2 {
  position: absolute;
  right: 0;
  bottom: 20px;
  color: black;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 30px;
  width: 25%;
  height: auto;
  text-align: left;
  line-height: 30px;
  mix-blend-mode: screen;
  /* border: var(--greenBox); */
}

/* MAIN BODY */

section {}

main {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto 100px 150px;
  grid-template-columns: 100%;
  grid-template-areas:
  "about"
  "projects"
  "contact"
  "backTop"
}

/* ABOUT */ 

#about {
  /* display: inline; */
  border: var(--redBox);
  padding: 20px; 
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  grid-area: about;
}

#about > h2 {
  margin-right: 20px;
  /* flex: 15%; */
  /* grid-area: titleabout; */
}

#about > article {
  /* margin-right: 20px; */

}

.aboutText {
  /* padding-left: 20px; */ 
  /* background-color: rgba(255, 0, 0, 0.1);  */
  flex: 80%; 
  /* display: inline;
  height: 100px; */
  /* grid-area: about; */
}

/* PROJECTS */ 

#projects {
  border: var(--blueBox);
  grid-area: projects;
  padding: 20px;
  margin-bottom: 5px;
  /* background-color: rgba(255, 0, 0, 0.1); */
}

#projects > h2 {
  margin-right: 20px;
}

#projectGrid {
  width: auto;
  display: grid;
  /* min-height: 500px; */
  height: 70vh;
  grid-template-rows: 2fr 1fr 1fr ;
  grid-template-columns: 1fr 1fr; /* 90% + margin */
  gap: 10px 10px;
  grid-template-areas:
  "project1 project1"
  "project2 project3"
  "project4 project5"
}

#projectCard1 {
grid-area: project1;
background-image: url(../images/02-portfolio-1.jpg);
background-repeat: no-repeat;
background-size: 100%; 
/* height: 200%; */
/* background-repeat: no-repeat; */
}

#projectCard2 {
  grid-area: project2;
  background-image: url(../images/02-portfolio-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;  
}

#projectCard3 {
  grid-area: project3;
  background-image: url(../images/02-portfolio-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%; 
}

#projectCard4 {
  grid-area: project4;
  background-image: url(../images/02-portfolio-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%; 
}

#projectCard5 {
  grid-area: project5;
  background-image: url(../images/02-portfolio-2.jpg);
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
  
  
}
      
.pageWrapper {}

/* .pageSection { position: relative;} */

figure {
  /* display: none !important; */
  position: relative;
  padding: 0;
  margin: 0;
  /* margin: 10px; */
  border: 2px solid var(--forestGreen);
  cursor: pointer;
  transition: opacity 0.5s;
}

figure:hover {
  opacity: 0.9;
}

.fillFig {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

figcaption {
position: absolute;
bottom: 20px;
z-index: 5;
/* margin: -6em 0 0; */
padding: 5px 15px;
background-color: var(--forestGreen);
color: white;
min-width: 200px;
}

figcaption p:nth-child(1) {
  /* font-weight: bold; */
  font-size: 18px;
  margin: 0;
  }

figcaption p:nth-child(2) {
color: darkorange;
}



/* CONTACT */

#contact {
  /* border: var(--greenBox); */
  background-color: var(--forestGreen);
  grid-area: contact;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  padding: 20px;
  margin-bottom: 5px;
  /* float: right;
  position: absolute;
  right: 0;
  bottom: 20px */
}

#contact > h2 {
  border-right: 2px solid white;
  color: white;
  opacity: 0.9;
  /* grid-area: titlecontact; */
}

#contact > ul {
  /* float: right;  */
  /* width: 300px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex: 1 auto;
  margin-top: 8px;
  /* border: var(--whiteBox); */
  /* grid-area: contact; */
}

#contact ul li {
  display: inline-block;
}

.contact {}

/* MOBILE BACK-TO-TOP */

#backTop {
  position: relative;
  background-color: var(--forestGreen);
  grid-area: backTop;
  display: none;
  flex-direction: column;
  justify-content: flex-start; 
  /* align-items: flex-end; */
  cursor: pointer;
  transition: color 0.5s;
  padding: 20px; 
  margin-bottom: 30px;
  text-decoration: none;
  /* reset default button styling */
  font-size: inherit;
  border: none;
  outline: none;
}

#backTop > h2 {
  margin:0;
  color: white;
  opacity: 0.9;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  padding: 0;
  width: 100%;
  text-align: left;
  line-height: 40px;
}

#backTop > h2:hover {
  color: darkorange;
}

footer {
  /* add date */
}


/* RESPONSIVE LAYOUT */

@media only screen and (max-width: 1200px) {
  :root{
    --headerTextPad: 0 5vw;
    --headerImgPad: 4.75vw;
  }
}

@media only screen and (max-width: 1024px) {
  :root{
    /* --headerTextPad: 0 5vw;
    --headerImgPad: 4.75vw; */
    --headerLineHeight: 50px;
  }
  header {
    height: 140px;
    padding: 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: stretch;
    flex: 1 auto;
  }

  #burger {
    display: none;
    z-index: 6;
  }

  nav ul {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--forestGreen );
    padding: var(--headerTextPad);
    line-height: var(--headerLineHeight);
  }

  #projectGrid {
    grid-template-rows: 1.5fr 1fr 1fr ;
  }

  
}

@media only screen and (max-width: 768px) {
  #about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  #about > h2 {
    margin:0 0 20px;
    border-right: 0;
    border-bottom: 1px solid var(--forestGreen);
    width: auto;
    text-align: left; 
  }

  #projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  #projects > h2 {
    margin:0 0 20px;
    border-right: 0;
    border-bottom: 1px solid var(--forestGreen);
    width: auto;
    text-align: left; 
    height:auto; 
  }

  #projectGrid {
    display: grid;
    height: 80vh;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-areas:
    "project1"
    "project2"
    "project3"
    "project4"
    "project5" 
  }

  main {
    grid-template-rows: auto auto auto;
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  #contact > h2 {
    margin:0 0 10px;
    border-right: 0;
    border-bottom: 1px solid white;
    width: auto;
    text-align: left; 
  }

  #contact > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:stretch;
    gap: 20px;
    flex: 1 auto;
    margin: 10px 0 40px;
  }

  #contact ul li {
    /* display: inline-block; */
    /* border: var(--whiteBox); */
    line-height: 60px;
    border-bottom: 1px solid white;
  }


}

@media only screen and (max-width: 480px) {
  nav{border: var(--whiteBox);}
  h1{border: var(--whiteBox);}

  
  #backTop {
    display: inline-flex;
  }
  #projectGrid {
    height: 100vh;
  }

  figcaption {
    position: absolute;
    inset: auto 0 0;
    z-index: 5;
    padding: 5px 15px;
    background-color: rgba(85, 107, 47, 0.5);
    color: white;
    }

    .headBanner div h2 {
      position: absolute;
      right: 0;
      bottom: 20px;
      color: black;
      font-size: 30px;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 10px 30px;
      width: 25%;
      height: auto;
      text-align: left;
      line-height: 30px;
      mix-blend-mode: screen;
      display:inline-block;
    }

    header {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 5px;
    }
  
    #burger {
      display:inline-block;
      border: var(--redBox);
      width: auto;
      align-self: flex-end;
      padding-right: 20px;
    }

    nav ul {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    nav ul li{
      line-height: 60px;
      border-bottom: 1px solid white;
    }

    nav ul li:last-child{
      border-bottom: 0;
    }
}

/* add mobile & print for resume */


